*{
    margin: 0;
    padding: 0;
}
.form{
    text-align: center;
    margin: 0 auto;
    background-color: darkslategray;
    color: azure;
    max-width: 700px;
    padding: 2rem;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#quilometros{
    color: black;
}
#vResultado{
    color: black;
}